doctype html
html(lang="en-UA")
    head
        title Hello World
        link(rel="stylesheet" type="text/css" href="static/css/main.css")
    body
        p Hello everyone!
        .slider
            .slider-item
            .slider-item
            .slider-item

        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")